# The sandbox directory.
# NOTE! This may not work if you specify a directory in /tmp or /var/tmp
export SANDBOX=${HOME}/sandbox
# Extra executables (bash and perl are done automatically)
EXES=/bin/ls,/usr/bin/cat
# Extra directories (bin, lib, lib64 are created anyway)
DIRS=tmp
